# ========================
# Binarios
# ========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
bin/
tmp/
build/

# ========================
# Go
# ========================
*.test
*.prof

# ========================
# Entorno
# ========================
.env
.env.*
!.env.example

# ========================
# Docker / Infra
# ========================
docker-compose.override.yml

# ========================
# IDEs / Editores
# ========================
.vscode/
.idea/

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Coverage
# ========================
coverage.out

# ========================
# Docs (privados)
# ========================
docs/